@import '~@ctrl/ngx-emoji-mart/picker';

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    z-index: 9999;
    
}

.table-addition-form{
    max-height: 80vh;
    max-width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(100, 29, 29) !important;
    gap: 2rem;
    padding: 1rem 3rem;
    border: 1px solid rgb(220, 217, 217);
    overflow-y: scroll;
    background-color: white;
}

.table-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.emoji-selector{
    display: block;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(220, 217, 217);
    width: 12rem;
    text-align: end;
    justify-content: space-between;
}

.table-form  [type="text"]{
    width: 30rem;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.current-emoji{
    float: left;
}

button{
    display: inline-block;
    width: 8rem;
    margin: 0 5% 0 0;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: space-between; 
}

.color-picker{
    width: 12rem;
    border: 1px solid rgb(220, 217, 217);
    border-top: 0;
    height: 20vh;
}

.color{
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

h3, p{
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 500;
}
