<!DOCTYPE html>
<html lang="en">

<head>
 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Prospector</title>
</head>

<body>
  <app-segment-form *ngIf="segmentVisibility"></app-segment-form>

  <div class="prospector-body">

    <div class="segment-area">
      <div class="title">
        <h1>Prospector</h1>
      </div>

      <div class="segment-table">
        <p>SEGMENTS</p>
        <div>
          <ul style="list-style: none;" class="segment-content-table">
            <li *ngFor="let segment of segments">
              <p>{{segment.emoji}}{{segment.name}}</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="add-segment-button">
        <button class ="add-segment" (click)="flipSegmentVisibility()"><span>+ Add a segment</span></button>
      </div>
    </div>


    <div class="content-area">


      <div class="segment-data">

        <ul style="list-style: none;" class = "segments">
          <li *ngFor = "let segment of segments">
            <h2>{{segment.emoji}}{{segment.name}}</h2>
            
            <ul style="list-style: none;">
              <li *ngFor = "let box of segment.data">
                <div class="box">
                  <div class="border-box"></div>
                  <p>{{box.emoji}}{{box.name}}</p>
                </div> 
                
              </li>
              
              <div class="segment">
                <div class="segment-data-box"></div>
                <div class="addition-box" (click) = "activateSegment(segment.name)"><div class="addition-sign">+</div></div>
              </div>

            </ul>

            
          </li>
          
        </ul>


      </div>
    </div>
  </div>
  
  <app-table-form  *ngIf= "tableVisibility" ></app-table-form>
 

</body>

</html>