@import '~@ctrl/ngx-emoji-mart/picker';

body{
    margin: 0;
    padding: 0;
    text-decoration: none;
  
    
}

.emoji-selector{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: white;
    text-align: end;
    justify-content: space-between;
    cursor: pointer;
}



.segment-form  [type="text"]{
    width: 30rem;
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid rgb(220, 217, 217);
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}

.segment-form  [type="text"] :active{
    border: 1px solid rgb(218, 41, 41);
}

.segment-addition-form{
    min-width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(100, 29, 29) !important;
    gap: 2em;
    padding: 1em 3em;
    border: 1px solid rgb(220, 217, 217);
    overflow-y: auto;
    background-color: white;
    z-index: 9999;
    max-height: 80vh;
}

.segment-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-between;
}

.emoji-selector:hover{
    border: 2px solid  #0069D9!important;
}

textarea{
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-weight: 500;
}

textarea:hover{
    border: 2px solid  #0069D9!important;
}
input:hover{
    border: 2px solid  #0069D9!important;
}


.current-emoji{
    float: left;
}


h3, p{
    font-family: 'Ubuntu', sans-serif;
}

h3{
    font-weight: 700;
}

p{
    font-weight: 500;
}

button{
    display: block;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    background-color: #0069D9;
    color: white;
    border: none;
    width: 30%;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: left; 
    gap: 5px;  
    
}
